[submodule "platform/csdk"]
	path = platform/csdk
	url = https://github.com/Ai-Thinker-Open/GPRS-C-SDK-LIB.git


[submodule "libs/gps/minmea/src"]
	path = libs/gps/minmea/src
	url = https://github.com/kosma/minmea.git
[submodule "libs/aliyun/iotkit-embedded"]
	path = libs/aliyun/iotkit-embedded
	url = https://github.com/aliyun/iotkit-embedded.git
[submodule "libs/lvgl/src"]
	path = libs/lvgl/src
	url = https://github.com/littlevgl/lvgl.git
