[submodule "platform/csdk"]
	path = platform/csdk
	url = https://github.com/Ai-Thinker-Open/GPRS-C-SDK-LIB.git


[submodule "libs/gps/minmea/src"]
	path = libs/gps/minmea/src
	url = https://github.com/kosma/minmea.git
[submodule "libs/aliyun/iotkit-embedded"]
	path = libs/aliyun/iotkit-embedded
	url = https://github.com/aliyun/iotkit-embedded.git
[submodule "libs/lvgl/src"]
	path = libs/lvgl/src
	url = https://github.com/littlevgl/lvgl.git
[submodule "libs/Adafruit_INA219/src"]
	path = libs/Adafruit_INA219/src
	url = https://github.com/mikenz/A9_Adafruit_INA219.git
[submodule "libs/Adafruit_MLX90614/src"]
	path = libs/Adafruit_MLX90614/src
	url = https://github.com/mikenz/A9_Adafruit_MLX90614.git
[submodule "libs/ClosedCube_OPT3001/src"]
	path = libs/ClosedCube_OPT3001/src
	url = https://github.com/mikenz/A9_ClosedCube_OPT3001.git
[submodule "libs/Adafruit_VEML6070/src"]
	path = libs/Adafruit_VEML6070/src
	url = https://github.com/mikenz/A9_Adafruit_VEML6070.git
