iotkit-embedded.pkgs
.O
output
*.o
*.d
*.lo
*.la
*.swp
*.swo
*.bin
*.vs
vs_build/
src/packages/*.git/hooks/*.sample
src/tls/mbedtls-in-iotkit
src/log/LITE-log
src/utils/LITE-utils
html/
compile.log
.config
src/mqtt/Link-MQTT
src/ota/Link-OTA
src/system/iotkit-system
src/cmp/Link-CMP
CMakeLists.txt.user
qt_build/
src/packages/LITE-log/
src/packages/Link-MQTT/
src/packages/Link-CMP/
src/packages/Link-OTA/
src/packages/iotkit-system/
src/packages/mbedtls-in-iotkit/
default_settings.mk.bak

